<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Todo Controll</title>
	<!-- 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.common.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.10/vue.js'></script>  
	-->
	<script src="https://unpkg.com/vue"></script>
	<script src="../static/js/task.js"></script>
</head>

<body>
	<header>
		<h1 id="title">Todo Controll</h1>
	</header>

	<div id="mostImpTask">
		<input v-model="message" placeholder="edit me">
	</div>

	<div id="newTask">
	</div>

	<div id="tasks">
	</div>
</body>

</html>
