<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>todoControl</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <link href="/static/css/task.css" rel="stylesheet">
    <link href="/static/css/focus.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="row" id="warning-task">
        {{ warningTask }}
    </div>
    <div class="row" id="new-task">
        <div class="input-group">
            <span class="input-group-addon">+</span>
            <input type="text" class="form-control" placeholder="New task"
                   v-model="content" @keyup.enter="addTask">
        </div>
    </div>
    <hr>
    <div class="row" id="task-list">
        <div v-for="task in tasks" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-body">{{ task.content }}</div>
                <div class="panel-footer clearfix">
                    <div class="task-info-left pull-left">
                        <span class="task-info">{{ task.limit_time }}</span>
                        <span class="task-info">{{ task.workload }}</span>
                        <span class="task-info">{{ task.place_id }}</span>
                        <span class="task-info">{{ task.importance }}</span>
                    </div>
                    <div class="task-info-right pull-right">
                        <button class="btn btn-success" @click="openModal(task.id)">edit</button>
                        <button class="btn btn-danger">☓</button>
                    </div>
                </div>
            </div>
        </div>
        <focus-task></focus-task>
    </div>

</div>
<script type="text/x-template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask" v-if="active==true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <textarea class="form-control" rows="5" v-model="task.content"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <el-date-picker v-model="task.limit_time" type="datetime"></el-date-picker>
                                </div>
                                <div class="col-lg-3">b</div>
                                <div class="col-lg-6">c</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" @click="commit">保存</button>
                        <button class="btn btn-danger" @click="close">閉じる</button>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/vuex"></script>
<script src="http://unpkg.com/element-ui/lib/index.js"></script>
<script src="http://unpkg.com/element-ui/lib/umd/locale/ja.js"></script>
<script>
    ELEMENT.locale(ELEMENT.lang.ja)
</script>
<script src="/static/js/main.js"></script>
</body>
</html>
