<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Todo Controll</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuex"></script>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Todo Control</h1>
        </div>

        <hr>

        <div id="app">
            <todo-newtask></todo-newtask>
            <todo-tasks></todo-tasks>
        </div>
    </div>
    <script src="static/js/task.js"></script>
</body>

</html>
